root = true

[*]
end_of_line = crlf
insert_final_newline = true

[*.{cs,xaml,csproj,sln}]
charset = utf-8-bom

[*.cs]
indent_style = space
indent_size = 4

[*.{xaml,csproj,sln}]
indent_style = space
indent_size = 4
